@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1F2937;
  --primary-orange: #FF7A18;
  --primary-blue: #1E88E5;
  --lift-blue: #0081FE;
  --sub-text-on-black: #BDBDBD;
  --input-text-color: #3B4758;
  --input-label-color: #3B4758;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
  --font-island-moments: var(--font-island-moments);

  --color-primary-orange: var(--primary-orange);
  --color-primary-blue: var(--primary-blue);
  --color-lift-blue: var(--lift-blue);
  --color-sub-text-on-black: var(--sub-text-on-black);
  --color-input-text-color: var(--input-text-color);
  --color-input-label-color: var(--input-label-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
